{% extends "lab_4/../layout/base.html" %}
{% block title %} Message from {{ name }} {% endblock %}
{% block content %}
    <h1 align="center">Message successfully added!</h1>
    <br>
<textarea readonly rows="5" class="form-control" style="font-size: 15px; font-family: 'Andale Mono'; font-weight: bold">&quot;{{ message }}&quot;
    -{{ name }}
    ({{ email }})
</textarea>
<br>
{% endblock %}

{% block footer %}
    <p align="center"> &copy; {{ author }} </p>
{% endblock %}