{% extends "lab_4/../layout/base.html" %}

{% block content %}
    <style>
    .form-control{
        @import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
        margin-top: 3px;
        margin-bottom: 3px;
        font-family: "Droid Sans Mono for Powerline";
    }
    </style>
<h1 align="center" style="font-weight: bold">{{ author }}</h1>
<hr/>
    <a href="https://linkedin.com/in/izznfkhrlislm" target="_blank">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA3HAAAAJGQ5OTM3NDEzLWJlNGYtNDcwNy1hNjcxLTMxYTExZWU2MmI1MQ.jpg" style="border-radius: 50%; display: block; margin: 0 auto"  width="200px" height="200px">
    </a>
<br>
<section name="bio">
    <p align="center" style="font-size: 17px;">
        {{ content }}
        <br>
        Currently pursuing my bachelor degree in Computer Science, Universitas Indonesia.
    </p>
</section>
<hr/>
<section name="about_me">
    <h2>About Me</h2>
    <ul>
        {%  for ii in about_me %}
        <li style="font-size: 15px;"> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2 align="center">Send a Message to Me</h2>
    <br>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
    <br>

{% endblock %}