{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 5">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_6.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <!-- select2 css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <!-- qUnit css -->
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.4.1.css">
    <!-- chatbot Script -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>
        {% block title %} Lab 6 By {{ author }} {% endblock %}
    </title>
</head>
<body>
    <header>    
    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <div id="qunit" hidden="true"></div>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% endblock %}
    </footer>
     <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/lab_6.js' %}"></script>
    <!-- qUnit Script -->
    <script src="{% static 'js/test.js' %}"></script>
    <!-- qUnit Script -->
    <script src="https://code.jquery.com/qunit/qunit-2.4.1.js"></script>
    <!-- select2 Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</body>