{% extends "lab_10/layout/base.html" %}
<head>
    <title>
    {% block title %}{{ movie.title }} ({{ movie.year }}){% endblock %}
    </title>
</head>
{% block content %}
<section id="data-dashboard">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>{{ movie.title }} ({{ movie.year }})</h2>
            <h5>{{ movie.rated }} | {{ movie.runtime }} | {{ movie.released }} | {{ movie.genre }}</h5>
        </div>
        <div class="panel-body">
            <div class="container">
                <img class="col-md-3" src="{{ movie.poster }}">
                <div class="row-md-4 col-lg-6">
                    <div class="well"><p><b>"{{ movie.plot }}"</b></div></p>
                </div>
                <p class="row-md-4 col-lg-6" style="font-size:20px"><b>Rating:</b></p>
                <p class="row-md-4 col-lg-6" style="font-size:50px"><b>{{ movie.ratings.0.Value }} | {{ movie.ratings.1.Value }} | {{ movie.ratings.2.Value }}</b></p>
                <p class="row-md-4 col-lg-8" style="font-size:15px"><b>Director: </b>{{ movie.director }}</p>
                <p class="row-md-4 col-lg-8" style="font-size:15px"><b>Cast: </b>{{ movie.actors }}</p>
                <p class="row-md-4 col-lg-8" style="font-size:15px"><b>Language: </b>{{ movie.language }}</p>
                {# <p class="row-md-4 col-lg-8" style="font-size:15px"><b>Production: </b>{{ movie.production }}</p> #}
                {% if added %}
                <button class="row-md-4 col-lg-2 btn btn-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Added to Movie Wishlist </button>
                {% else %}
                <a class="row-md-4 col-lg-2 btn btn-warning" href="{% url 'lab-10:add_watch_later' id %}"><i class="fa fa-plus" aria-hidden="true"></i> Add to Movie Wishlist</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
