{% extends "lab_10/layout/base.html" %}

{% block content %}
<h1>Movie Wishlist</h1>
<hr/>
<div class="container">
{% if watch_later_movies %}
	{% for movie in watch_later_movies %}
		<div class="col-md-6">
			<a href="{% url 'lab-10:movie_detail' movie.imdbid %}">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<h4><b>{{ movie.title }} ({{ movie.year }})</b></h4>
						<img style='height:50%;' src="{{ movie.poster }}" alt="No picture available" class="img-responsive img-thumbnail">
					</div>
				</div>
			</a>
		</div>
	{% endfor %}
{% else %}
	<div class="alert alert-danger">
		<b>Oops!<b> You haven't added any movies yet.
	</div>
{% endif %}
{% endblock %}