{% extends "base.html" %}
{% block content %}
<br>
<h3 style="text-align: center">Dear Visitors, this is my Activity Log</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th>Date/Time</th>
                <th>My Activity</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="/lab-3/add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Date/Time
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required" size="27"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Activity
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" required="required" size="27"/>
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
        <br>
        <div class="errornote">
            <p style="color: black; font-family: 'Roboto Slab'">{{ pesan_error }}</p>
        </div>
    </div>
</div>
{% endblock %}
