{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-family: 'Roboto';
    }
    .subtitle {
        font-family: 'Roboto Slab';
    }
</style>
<div class="center_screen">
    <h1 class="status" id="test">Hello, this is {{ name }}.</h1>
    <p class="subtitle">{{ content }}.</p>
</div>
{% endblock %}