{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> <i class="fa fa-user-circle" aria-hidden="true"></i> User Information </h2>
        </div>
        <div class="panel-body">
            <p> <b>Universitas Indonesia SSO Username</b> : {{ author }} </p>
            <p> <b>User ID Number</b> : {{ kode_identitas }} </p>
            <p> <b>User Role</b> : {{ role }} </p>
            <br>
            <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i> Movie Search </a>  
            <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"><i class="fa fa-star" aria-hidden="true"></i> Movie Wishlists </a>
        </div>
    </div>
</section>
<hr>

{% endblock %}
