{% extends "lab_10/layout/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <p><b>LAB 10 PPW:</b> ceritanya bikin alat pencari film di OMDb pake Akun SSO</p>
                <h1> <i class="fa fa-sign-in" aria-hidden="true"></i> Login Page </h1>
                <p class="text-info"> Use your <b> Universitas Indonesia SSO Account </b> to log in </p>
            </div>
            <form action="{% url 'lab-10:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> <i class="fa fa-user" aria-hidden="true"></i> Username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> <i class="fa fa-key" aria-hidden="true"></i> Password</label>
                    <input type="password" id="password" name="password" required>
                </p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <h2><b>Don't want to log in?</b></h2>
            <p><b>You can still use our features!</b></p>
            <br>
            <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i> Movie Search </a>  
            <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"><i class="fa fa-star" aria-hidden="true"></i> Movie Wishlists </a>
        </div>
    </div>
</div>
{% endblock %}
