{% extends "lab_9/layout/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <p><b>LAB 9 PPW:</b> ceritanya bikin client EnterKomputer pake Akun SSO</p>
                <h1> <i class="fa fa-sign-in" aria-hidden="true"></i> Login Page </h1>
                <p class="text-info"> Use your <b> Universitas Indonesia SSO Account </b> to log in </p>
            </div>
            <form action="{% url 'lab-9:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> <i class="fa fa-user" aria-hidden="true"></i> Username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> <i class="fa fa-key" aria-hidden="true"></i> Password</label>
                    <input type="password" id="password" name="password" required>
                </p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
