{% extends "lab_9/layout/base.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> <i class="fa fa-user-circle" aria-hidden="true"></i> User Information </h2>
    </div>
    <div class="panel-body">
        <p> <b>Universitas Indonesia SSO Username</b> : {{ user_name }} </p>
        <p> <b>User ID Number</b> : {{ kode_identitas }} </p>
        <p> <b>User Role</b> : {{ role }} </p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:cookie_login' %}" class="btn btn-info"> View Cookie Version Of This Page </a>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#drones" aria-controls="home" role="tab" data-toggle="tab"> Drone </a>
        </li>
        <li role="presentation">
            <a href="#soundcard" aria-controls="settings" role="tab" data-toggle="tab"> Soundcard </a>
        </li>
        <li role="presentation">
            <a href="#optical" aria-controls="settings" role="tab" data-toggle="tab"> Optical Disk </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="drones">
            {% include 'lab_9/tables/drones.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="soundcard">
            <!-- Apply the same here -->
            {% include 'lab_9/tables/soundcards.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="optical">
            <!-- Apply the same here -->
            {% include 'lab_9/tables/opticals.html' %}
        </div>
    </div>
</div>
{% endblock %}
