{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="{{webMaker}}">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- icons css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JQuery DataTable CSS -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    </style>
    <title>
        {% block title %} Lab 10 By {{webMaker}} {% endblock %}
    </title>
</head>
<body>
{% if login %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'lab-10:index' %}">PPW x OMDb Movie</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-right">
                        <li><a href="{% url 'lab-10:auth_logout' %}" onclick="return confirm('Are you sure?')"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    </ul>
                    <ul class="nav navbar-right">
                        <li><a href="{% url 'lab-10:dashboard' %}"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% else %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'lab-10:index' %}">PPW x OMDb Movie</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-right">
                        <li><a href="{% url 'lab-10:index' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endif %}
<br>
<content>
        <br>
        <br>
        <div class="container">
        {% for message in messages %}
                <div class="alert {{ message.tags }} alert-info text-center" role="alert" id="django-messages">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
                </div>
        {% endfor %}
    {% block content %}
    <!-- Your Content Here -->
    {% endblock %}
    </div>
</content>
{% if login %}
    <footer class="modal-footer">
        <p align="center">Made with some passion by {{ webMaker }}. Movie Database API by <a href="https://www.omdbapi.com/">OMDb (The Open Movie Database)</a>.</p>
    </footer>    
{% endif %}

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- DataTable JS -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>
</html>
